* {
	border: 0;
	margin: 0;
	padding: 0
}

html {
	overflow-x: hidden;
	_background-color: #f5f5f5
}

* html{
	overflow-x: hidden;
	background-image: url(about:blank);
	background-attachment: fixed
}

body {
	background: #fafafa;
	overflow-x: hidden;
	color: #333;
	font: 13px "Microsoft YaHei", 微软雅黑, PMingLiU, Verdana, Arial, Helvetica,
		sans-serif
}

::selection {
	color: #0088dd;
	background: #dcdcdc
}

::-moz-selection {
	color: #0088dd;
	background: #dcdcdc
}

h2 {
	font-size: 16px
}

ul,li {
	list-style-type: none
}

a {
	color: #0088dd;
	text-decoration: none !important
}

a:hover {
	text-decoration: inherit
}

.clear {
	clear: both
}

input,textarea,button {
	outline: none
}

#logo a {
	color: #999999;
	display: block;
	background: #33363B;
	font-size: 26px;
	margin-top: 20px;
	font-family: Arial;
	vertical-align: bottom
}

#logo a b {
	width: 100px;
	margin-left: -60px;
	display: inline-block;
	height: 50px;
	margin-right: 5px;
	background: #27aae2;
	vertical-align: bottom
}

#logo a:hover {
	color: #76dd38
}

#logo a:hover b {
	background: #76dd38
}

#logo a i {
	font-size: 15px;
	margin-left: 2px;
	vertical-align: text-top;
	font-style: normal
}

#nav a {
	cursor: hand;
	cursor: pointer;
	color: #999999;
	display: block;
	background: #33363B;
	font-size: 20px;
	margin-top: 20px;
	font-family: "Microsoft YaHei", 微软雅黑;
	vertical-align: bottom
}

#nav a b {
	width: 140px;
	margin-left: -125px;
	display: inline-block;
	height: 30px;
	margin-right: 5px;
	background: #666;
	vertical-align: bottom
}

#nav a:hover {
	color: #76dd38
}

#nav a:hover b {
	background: #76dd38
}

#nav a.current-menu-item,#nav a.current-post-parent {
	color: #ddd;
	margin-left: 65px !important
}

#nav a.current-menu-item b,#nav a.current-post-parent b {
	background: #ddd
}

.search_site {
	margin-top: 20px
}

.search_site #searchform span {
	padding-left: 10px;
	font-size: 16px;
	position: absolute;
	_margin-top: 1px;
	*margin-top: 1px;
	background: #811241;
	display: inline-block;
	line-height: 35px;
	color: #eab6cc;
	height: 35px;
	width: 220px;
	letter-spacing: 2px
}

.search_site #searchform #s {
	margin-left: -120px;
	padding: 0 10px 0 10px;
	background: #777;
	height: 35px;
	line-height: 35px;
	width: 135px;
	font-size: 16px;
	border: none;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	color: #eee
}

.search_site #searchform #searchsubmit {
	position: absolute;
	_margin-top: 1px;
	*margin-top: 1px;
	border: none;
	cursor: hand;
	cursor: pointer;
	height: 35px;
	width: 35px;
	background: #EB7AAA url(images/search.png) no-repeat
}

.search_site #searchform #searchsubmit:hover {
	background: #72B332 url(images/search.png) no-repeat 0 -35px
}

.feed-tip {
	font-size: 16px;
	line-height: 26px;
	padding-left: 6px;
	height: 26px;
	border-left: #F88FB7 20px solid;
	margin-top: 25px;
	color: #888
}

.feed-tip a {
	color: #aaa
}

.feed-tip a:hover {
	color: #458B00
}

#map {
	border-top: 1px #EDEDED solid;
	border-bottom: 1px #EDEDED solid;
	background: white;
	margin-top: 15px;
	padding-left: 15px;
	line-height: 34px;
	height: 34px
}

#map .position {
	height: 35px;
	color: #8F8F8F;
	float: left
}

#map .position a {
	margin-left: 0px;
	color: #72B332
}

#map .position a:hover {
	color: #27AAE2
}

#map .baiduad {
	height: 35px;
	width: 468px;
	float: right;
	padding-top: 10px;
	overflow: hidden
}

.widescreen {
	height: 100%;
	background: #f5f5f5;
	margin: 0px;
	padding: 0px
}

#container1 {
	z-index: 999999;
	position: fixed;
	_position: absolute;
	top: 13px;
	left: 0px;
	_top: expression(eval(document.documentElement.scrollTop +13));
	width: 240px;
	overflow: hidden;
	left: -250px;
	background: #33363B;
	border: 2px solid #296680;
	border-right: 4px solid #666;
	border-left: none
}

#container2 {
	left: 100%;
	border-left: 1px solid #ccc;
	box-shadow: 0 5px 20px #ccc;
	overflow: hidden;
	background: #fff;
	top: 0;
	position: absolute
}

#content {
	overflow: hidden;
	padding: 15px 30px
}

.main .post,.main .left {
	margin-top: 18px
}

.post-title-single {
	z-index: 5;
	background: #fff;
	margin-top: -7px;
	display: block;
	overflow: hidden;
	margin-left: 12px;
	*margin-left: 0px;
	_margin-left: 12px;
	position: absolute;
	border-bottom: #eee 2px solid
}

.post-title-single h2 {
	margin-left: 5px;
	padding-right: 20px;
	color: #27AAE2;
	font-size: 28px;
	margin-bottom: 8px;
	line-height: 30px
}

#bg_con_2 {
	right: 1px;
	color: #999;
	text-align: right;
	top: 16px;
	line-height: 34px;
	position: absolute;
	overflow: hidden;
	padding: 0 10px;
	border-left: 20px solid #6fa0c3;
	height: 34px;
	background: #f5f5f5;
	display: inline;
	overflow: hidden
}

#bg_con_2 a {
	padding: 3px 8px
}

#bg_con_2 a:hover {
	color: #FC78AA
}

.post_date {
	display: block;
	overflow: hidden;
	float: left;
	width: 70px;
	height: 70px;
	background-color: #27AAE2;
	color: #FFFFFF
}

.post_date span {
	display: block
}

.post_date .date_d {
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	margin-top: 2px;
	font-family: Arial, Tahoma, Geneva
}


.post_date .date_ym {
	text-align: center;
	font-weight: bold;
	margin-top: -3px;
	font-size: 15px;
	font-family: Arial, Tahoma, Geneva
}

.article {
	_margin-top: -16px;
	*margin-top: -16px;
	height: 100%;
	display: block;
	overflow: hidden;
	border-bottom: 1px #ddd solid
}

.article_b {
	overflow: hidden;
	border-bottom: 1px #ddd solid
}

.article_b .tagleft {
	height: 20px;
	border-left: #72B332 8px solid
}

.article li {
	list-style: none
}

.articles {
	padding: 10px 0 10px 0;
	overflow: hidden
}

.article h2 {
	margin-left: 8px;
	margin-top: 0px;
	height: 28px;
	overflow: hidden;
	line-height: 28px;
	display: block;
	font-size: 24px;
	padding-left: 5px;
	font-weight: normal
}

.articles h3 {
	font-size: 15px
}

.articles h6 {
	font-size: 15px;
	color: #6E6E6E;
	font-weight: normal
}

.articles h6.wrhf {
	margin-bottom: 8px;
	font-size: 30px;
	color: #999;
	text-align: center
}

.articles h8 {
	font-size: 14px;
	color: #6E6E6E;
	font-weight: normal
}

.section_title {
	border-top: 6px solid #27AAE2;
	height: 1px;
	margin: 20px 0;
	position: relative
}

.section_title span,.section_title a {
	display: block;
	height: 40px;
	padding: 0 18px;
	line-height: 40px;
	background: #27AAE2;
	color: white;
	position: absolute;
	top: -25px;
	overflow: hidden
}

.thumbnail_box {
	float: right;
	width: 140px;
	height: 108px;
	margin-top: -20px;
	margin-left: 20px;
	padding: 4px;
	border: 2px solid #ccc
}

.thumbnail_box:hover {
	border: 2px solid #08D
}

.thumbnail img {
	position: absolute;
	z-index: 3
}

.thumbnail_box_top {
	width: 430px;
	height: 200px;
	margin: 40px 10px 8px 90px;
	_margin: 17px 10px 8px 7px;
	border-bottom: #72B332 4px solid
}

.boxbottom {
	width: 430px;
	height: 30px;
	background: #72B332
}

.entry_post {
	margin-left: 12px;
	line-height: 22px;
	padding-top: 10px;
	font-size: 14px;
	color: #777
}

.entry_post_top {
	line-height: 22px;
	padding-top: 5px;
	font-size: 14px;
	color: #777
}

.more {
	float: right;
	font-size: 12px;
	margin: 4px 0 8px 0;
	*margin: -20px 0 8px 0
}

.infotop {
	display: block;
	border-top: 1px solid #eee;
	font-size: 12px;
	margin-top: 8px;
	padding-top: 7px;
	margin-left: 10px;
	width: 280px;
	overflow: hidden;
	line-height: 20px;
	height: 20px
}

.infotop a {
	color: #919191
}

.infotop a:hover {
	color: #72B332
}

.infobot {
	float: left;
	font-size: 12px;
	padding-top: 10px;
	padding-left: 5px;
	width: 515px;
	overflow: hidden;
	line-height: 20px;
	height: 20px;
	color: #919191
}

.infobot a {
	color: #919191
}

.infobot a:hover {
	color: #72B332
}

#singleinfo {
	margin: 40px 0 0 12px;
	*margin: 50px 0 0 12px;
	_margin: 40px 0 0 80px
}

.info-category-icon,.info-comment-icon,.info-view-icon,.info-url-icon,.info-user-icon,.info-tag-icon
{
	background: #fff url(images/sprite.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
	padding-left: 20px
}

.info-category-icon {
	background-position: -307px -32px
}

.info-comment-icon {
	background-position: -307px 3px
}

.info-comment-icon b {
	font-weight: normal;
	color: #08D;
	cursor: hand;
	cursor: pointer
}

.info-view-icon {
	background-position: -307px -15px
}

.info-view-icon b {
	font-weight: normal;
	padding: 0 3px;
	color: #FF6600;
	font-family: Arial, Helvetica, sans-serif
}

.info-url-icon {
	background-position: -307px -101px
}

.info-user-icon {
	background-position: -307px -74px
}

.info-tag-icon {
	background-position: -307px -52px
}

.article_info {
	font-size: 12px;
	padding-left: 10px;
	line-height: 22px;
	color: #777
}

.readmore {
	display: block;
	overflow: hidden;
	position: absolute;
	text-align: center;
	font-size: 18px;
	background: #6E6E6E;
	margin-top: 105px;
	margin-left: -6px
}

.readmore a {
	line-height: 20px;
	height: 20px;
	width: 132px;
	padding: 10px;
	display: block;
	overflow: hidden;
	color: #fff
}

.context {
	margin: 16px;
	position: relative;
	overflow: hidden;
	margin-top: 15px
}

.context img {
	_width: expression(( documentElement.clientWidth > 700)?'700px':'');
	display: none
}

.context p {
	padding: 5px 0px;
	margin: 0;
	line-height: 22px
}

.context h4 {
	margin: 10px 0 5px 0
}

.context h5 {
	font-size: 15px;
	padding: 3px 8px;
	background: #ededed;
	border: 1px #ddd solid
}

.context ol {
	margin-left: 20px
}

.context ol li {
	line-height: 22px
}

.context p img {
	margin: 0 auto;
	display: block
}

.context blockquote {
	padding: 5px 20px;
	margin: 0 5px;
	border: 1px solid #ddd;
	border-left: 8px solid #ddd;
	background-color: #e9e9e9;
	overflow: auto
}

.post-nav {
	margin-bottom: 15px;
	letter-spacing: 4px;
	overflow: hidden;
	display: block;
	text-align: center;
	margin-left: 16px;
	position: relative
}

.post-nav .prev a:hover,.post-nav .next a:hover {
	background: #27AAE2;
	text-decoration: none
}

.post-nav .prev,.post-nav .next {
	line-height: 35px;
	height: 35px;
	display: block;
	margin-right: 20px;
	width: 180px;
	background: #ccc;
	color: #fff;
	float: left
}

.post-nav a {
	width: 180px;
	height: 35px;
	display: block;
	color: #fff
}

.navigation {
	margin: 9px 0 5px 0;
	font-size: 12px;
	float: right;
	text-align: right
}

.pagination {
	margin-top: 15px;
	display: block;
	overflow: hidden;
	line-height: 50px
}

.inactive {
	height: 50px;
	width: 50px
}

.pagination span,.pagination a {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	width: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	display: inline-block;
	text-decoration: none;
	border: 1px #e0e0e0 solid;
	color: #6E6E6E
}

.pagination .current {
	height: 50px;
	width: 50px;
	color: #fff;
	border: 1px #2682D5 solid;
	background: #27AAE2
}

.pagination a:hover {
	height: 50px;
	width: 50px;
	color: #fff;
	border: 1px #bcbcbc solid;
	text-decoration: none;
	background: #27AAE2
}

.pagination .page_previous,.pagination .prev {
	width: 50px;
	height: 22px;
	text-align: center
}

.pagination .page_previous:hover,.pagination .prev:hover {
	width: 50px;
	height: 22px;
	text-align: center
}

.pagination .page_next,.pagination .next,.pagination .page_next:hover,.pagination .next:hover
	{
	width: 50px;
	height: 22px;
	text-align: center
}

.pagination .fir_las,.pagination .fir_las:hover {
	width: 30px;
	height: 22px;
	text-align: center
}

.articles_all {
	line-height: 30px
}

.car-collapse .car-yearmonth {
	cursor: s-resize
}

a.car-toggler {
	line-height: 30px;
	font-size: 14px;
	color: #c30
}

.car-list li {
	list-style: none;
	line-height: 24px
}

.car-list li ul {
	padding-left: 30px
}

.car-plus,.car-minus {
	width: 15px;
	display: block;
	float: left;
	font-family: Courier New, Lucida Console, MS Gothic, MS Mincho
}

.commentlist {
	
}

.commentlist .comment {
	list-style: none;
	border-top: 1px solid #ddd
}

.commentlist li.comment ul.children {
	margin-left: 20px
}

.commentlist .depth-1 {
	margin: 10px 0 10px 0
}

.commentlist li {
	position: relative
}

.commentlist .alt {
	
}

.commentlist .comment-body {
	padding: 5px 0 5px 0
}

.commentlist .comment-body:hover {
	background: #fafafa
}

.commentlist p {
	margin: 5px 0 5px 50px;
	line-height: 22px
}

.reply {
	
}

.reply a:link {
	text-align: center;
	font-size: 12px
}

.datetime {
	font-size: 12px;
	color: #aaa;
	text-shadow: 0px 1px 0px #fff;
	margin-left: 50px
}

.commentmetadata {
	font-size: 12px;
	color: #aaa;
	text-shadow: 0px 1px 0px #fff;
	margin-left: 50px
}

ol.commentlist li div.vcard img.avatar {
	width: 40px;
	height: 40px;
	position: relative;
	float: left;
	margin: 4px 6px 0 0;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff
}

ol.commentlist li div.floor {
	float: right;
	color: #bbb
}

#respond {
	padding: 5px 10px 10px;
	overflow: hidden
}

#respond_box {
	clear: both;
	border-top: 1px solid #ddd
}

#respond h3 {
	margin: 5px 0 6px 0
}

#comment {
	float: left
}

#commentform p {
	color: #333
}

#commentform label {
	color: #777
}

#commentform input {
	border: 2px solid #ddd;
	width: 200px;
	margin: 4px 5px 4px 0;
	padding: 6px 4px
}

#commentform input:focus {
	border: 2px solid #2BA2DB
}

#commentform textarea {
	float: left;
	height: 120px;
	font-size: 13px;
	padding: 4px;
	margin: 4px 0 0 0;
	border: 2px solid #ddd
}

#commentform textarea:focus {
	border: 2px solid #2BA2DB
}

#commentform input#submit {
	float: left;
	background: #2BA2DB;
	margin-left: 10px;
	width: 340px;
	height: 132px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	font-size: 60px;
	color: #FFF;
	text-align: center;
	margin-top: 4px;
	border: none
}

#commentform #submit:hover {
	color: #fff;
	cursor: hand;
	cursor: pointer;
	background: #72B332
}

#real-avatar .avatar {
	float: right;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
	margin-right: 20px;
	_margin-right: 10px
}

#more_content {
	color: #eee;
	left: -100%;
	z-index: 999999;
	position: fixed;
	display: none;
	overflow: hidden;
	background: #333;
	_position: absolute;
	top: 0px;
	_top: expression(eval(document.documentElement.scrollTop))
}

#more_content a {
	color: #fff
}

#more_content .title {
	overflow: hidden;
	height: 155px;
	margin: 15px 0 10px 0px;
	display: block
}

#more_content .title div.close {
	cursor: hand;
	cursor: pointer;
	position: absolute;
	background: url(images/wp-re.png) 0 0 no-repeat;
	display: block;
	overflow: hidden;
	width: 140px;
	height: 140px;
	margin-top: -160px;
	right: 20px
}

#more_content .title div.close.hover {
	background: url(images/wp-re.png) 0 -140px no-repeat
}

#more_content .title h6 {
	display: block;
	font-size: 20px;
	float: left;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif
}

#more_content .title h6 a {
	vertical-align: bottom;
	margin-right: 5px;
	font-size: 50px;
	color: #bbb
}

#more_content .title h6.hover a {
	color: #76DD38
}

#more_content .title h6.hover b {
	background: #76DD38
}

#more_content .title h6.hover span {
	border-left: 20px solid #FA70AE;
	color: #27AAE2
}

#more_content .title h6 a b {
	vertical-align: bottom;
	display: inline-block;
	background: #27AAE2;
	width: 150px;
	height: 80px
}

#more_content .title h6 a i {
	margin-left: 5px;
	font-style: normal;
	font-size: 22px;
	vertical-align: text-top
}

#more_content .title h6 span {
	margin-top: 5px;
	display: block;
	border-left: 20px solid #999;
	padding-left: 5px;
	color: #888;
	font-style: normal;
	font-size: 22px;
	letter-spacing: 3px
}

#more_content .title span.fl {
	padding-left: 30px;
	height: 160px;
	display: block;
	overflow: hidden;
	font-size: 16px
}

#more_content .title span.fl b {
	font-size: 20px;
	display: block;
	height: 30px;
	color: #76DD38;
	font-weight: normal;
	line-height: 30px;
	float: left;
	overflow: hidden;
	padding-left: 5px;
	border-left: 14px solid #76DD38
}

#more_content .title span.fl li {
	float: left;
	display: block;
	width: 100px;
	overflow: hidden;
	height: 30px;
	color: #999;
	line-height: 30px
}

#more_content .title span.fl li a {
	width: auto;
	color: #eee
}

#more_content .title span.fl a:hover {
	color: #72B332
}

#more_content .new_hot {
	display: block;
	overflow: hidden
}

#more_content .new_hot ul {
	float: left;
	overflow: hidden;
	display: block;
	_display: inline;
	margin-left: 30px;
	background: #555
}

#more_content .new_hot ul li {
	display: block;
	overflow: hidden;
	padding: 0 3%
}

#more_content .new_hot ul li a {
	display: block
}

#more_content .new_hot ul li span {
	float: right;
	color: #888
}

#more_content .new_hot ul ol.title {
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	width: 95%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	padding: 0px
}

#more_content .new_hot ul.t1 ol.title {
	border-bottom: 5px solid #FFCC33;
	color: #FFCC33
}

#more_content .new_hot ul.t1 li a:hover {
	color: #cc9e14
}

#more_content .new_hot ul.t2 ol.title {
	border-bottom: 5px solid #72C51F;
	color: #72C51F
}

#more_content .new_hot ul.t2 li a:hover {
	color: #62a71d
}

#more_content .new_hot ul.t3 ol.title {
	border-bottom: 5px solid #FA70AE;
	color: #FA70AE
}

#more_content .new_hot ul.t3 li a:hover {
	color: #e04b8e
}

#more_content .new_hot ul.t4 ol.title {
	border-bottom: 5px solid #27AAE2;
	color: #27AAE2
}

#more_content .new_hot ul.t4 div {
	margin: 0 3%;
	margin-top: 14px
}

#more_content .new_hot ul.t4 a {
	padding: 4px 6px;
	margin-bottom: 4px;
	margin-right: 5px;
	overflow: hidden;
	display: inline-block;
	background: #454545
}

#more_content .new_hot ul.t4 a:hover {
	color: #47c1f5;
	background: #333
}

#center_button_key {
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
	width: 45px;
	position: fixed;
	left: 247px;
	top: auto;
	bottom: 20px;
	display: block;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 20)||20)-(parseInt(this.currentStyle.marginBottom, 0)||0)))
}

#center_button_key div {
	cursor: pointer;
	width: 45px;
	margin-bottom: 5px;
	height: 45px;
	cursor: hand
}

#yc_left {
	background: url(images/gotop.png) 0 0 no-repeat
}

#yc_left_2 {
	display: none;
	background: url(images/gotop.png) 0 -45px no-repeat
}

#yc_right {
	background: url(images/gotop.png) 0 -45px no-repeat
}

#yc_right_2 {
	display: none;
	background: url(images/gotop.png) 0 0 no-repeat
}

#gotop {
	display: none;
	background: url(images/gotop.png) 0 -90px no-repeat
}

#yc_content {
	background: url(images/gotop.png) 0 -135px no-repeat
}

#yc_left.hover {
	background-position: -45px 0
}

#yc_right.hover {
	background-position: -45px -45px
}

#yc_left_2.hover {
	background-position: -45px -45px
}

#yc_right_2.hover {
	background-position: -45px 0
}

#gotop.hover {
	background-position: -45px -90px
}

#yc_content.hover {
	background-position: -45px -135px
}

#footer {
	z-index: 999999;
	position: absolute;
	bottom: 10px;
	left: 0px;
	text-align: center;
	width: 240px;
	font-size: 12px;
	color: #888
}

#footer a {
	color: #aaa
}

#more_content .links {
	line-height: 40px;
	height: 40px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	display: block;
	background: #222;
	text-align: right;
	border-top: 4px solid #353535
}

#more_content .links b {
	padding-left: 10px;
	padding-right: 8px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 14px solid #b08d00
}

#more_content .links a {
	color: #aaa !important;
	margin: 0 5px
}

#more_content .links i {
	padding: 0 4px;
	font-style: normal;
	color: #454545;
	font-size: 12px
}

#more_content .links a:hover {
	color: #ffd21e !important;
}