<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="templates/metro/css/jquery.fileupload.css">


<input type="hidden"  id="user_id" name="user_id"  value="{user_id}">

<div class="place-left" style="margin-left: 40px; width: 20%">
	<img  id="myimg" name="mying"  src="{image}" class="cycle span2" />
		<a class="button fileinput-button button inputtext no-display ">  
		<div class="icon-folder-2">請選擇圖檔</div>
        	<!-- The file input field used as target for the file upload widget -->
        	<input id="fileupload" type="file" name="files[]" />
    	</a>
	    <div id="componennt_id"  name="componennt_id"  class="progress-bar  no-display"  data-role="progress-bar" data-value="0" ></div> 	
</div>


<div class="place-left" style="width: 65%">
	<div class="viewtext">
		<h1>{fullName}</h1>		
		<h3>{department_title}</h3>
        
        <div style="margin-top: 40px" ></div>
	</div>
	
	<div class="inputtext no-display">
	<div class="input-control text ">
		<input class="inputtext no-display" id="fullName"  name="fullName"  type="text"
			value="{fullName}"
			style="height: 72px; width: 55%; font-size: 4.8rem;"
			placeholder="姓名" />	
	</div>
	
	<div style="margin-top: 30px" class="inputtext  no-display" ></div>
	<div class="input-control text">
		<input class="inputtext no-display" id="job_title"  name="job_title"  type="text"
			value="{job_title}" style="height: 36px; width: 65%; font-size: 2.4rem;"
			placeholder="請輸入部門名稱" />
		<button class="btn-clear"></button>
	</div>
	

	</div>
	
	<dl>
		
		<dt>電子郵件</dt>
		<dd>		
			<div class="viewtext" id="user_email_viewtext">{user_email}</div>
			<span class="input-control text  on-right inputtext no-display" 	style="width:60%" id="user_email_inputtext">	
				<input type="text"  class="inputtext " size="10"  id="user_email"  name="user_email" value="{user_email}"
				placeholder="電子郵件"  /> 	
				<button class="btn-clear"></button>
			</span>			
			
		</dd>	
		
		<dt>密碼</dt>
		<dd>		
			<div class="viewtext">*****</div>
			<span class="input-control text  on-right inputtext no-display" 	style="width:60%">	
				<input type="password"  data-transform="input-control"  class="inputtext " size="10"  id="password"  name="password" value="{password}"
				class="" placeholder="密碼" /> 	
				<button class="btn-clear"></button>
			</span>			
			
		</dd>			
		

		
		<!-- Block -->
		<dt class="{display_power}">權限</dt>
		<dd  class="{display_power}">		
			<div class="input-control checkbox inputtext ">
			    <label>
			        <input type="checkbox"  id="power[]"  name="power[]"  value="course_manage"   {course_manage_checked} />
			        <span class="check"></span>
			        課程管理
			    </label>
			
			    <label>
			        <input type="checkbox"  id="power[]"  name="power[]"    value="user_manage"  {user_manage_checked}/>
			        <span class="check"></span>
			        使用者管理
			    </label>
			    
			    
			    <label>
			        <input type="checkbox"  id="power[]"  name="power[]"    value="discuss_manage"  {discuss_manage_checked}/>
			        <span class="check"></span>
			        討論區管理
			    </label>
			</div>		
		</dd>
	</dl>
	<div style="margin-top: 40px;margin-bottom: 40px" class="inputtext no-display">
		<a class="default button"  onClick="contact_save()">{$lang.Save}</a>
		<a class="button on-right-more"  onClick="contact_cancel()">{$lang.Cancel}</a>
	</div>

</div>
