<div class="listview-outlook" data-role="listview">
	<!-- BEGIN MPS -->
	<div class="list-group {MPS.collapsed}">
		<a href="" class="group-title">{MPS.tag}</a>
		<!-- BEGIN CONTACT -->
		<div class="group-content" id="group-content-{MPS.CONTACT.user_id}" name="group-content-{MPS.CONTACT.user_id}">
			<a href="#" class="list"
				onClick="contact_view({MPS.CONTACT.user_id});">
				<div class="list-content"  >{MPS.CONTACT.name}</div></a>
		</div>
		<!-- END CONTACT -->
	</div>
	<!-- END MPS -->
</div>