				<div id="tmp_val" style="display:none">
					pid<input id="project_id" name="project_id" value="{project_id}" />
					wid<input id="wbs_id" name="wbs_id" value="{wbs_id}" />
					pwid<input id="pwid" name="pwid" value="{pwid}" />
				</div>
 
      			<div class="tile-group no-margin no-padding1 clearfix" style="width: 100%;">
					<a class="tile bg-lightBlue double double-vertical  " data-click="transform"  href="course_list.php">

					    <div class="tile-content icon">
							<i class="icon-book"></i>
						</div>
					
					    <div class="tile-status">
					        <span class="name"><h2 class="fg-white">學習中心</h2></span>
					    </div>
					</a>					
					
					<a class="tile bg-darkBlue double double-vertical  " data-click="transform"  href="course_list.php?m">
					    <div class="tile-content icon">
					       <i class="icon-rocket"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name"><h2 class="fg-white">我的課程</h2></span>
					    </div>
					</a>
					 
					<a class="tile bg-darkViolet double double-vertical  no-display" data-click="transform"  href="">
					    <div class="tile-content icon">
					        <i class="icon-comments-4"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name"><h2 class="fg-white">我的訊息</h2></span>
					    </div>
					</a>
					
					
					<a class="tile bg-cobalt double double-vertical  " data-click="transform"  href="group.php">
					    <div class=" tile-content icon">
					        <i class="icon-user-3"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name"><h2 class="fg-white">用戶管理</h2></span>
					    </div>
					</a>					
					
					<a class="tile bg-lightOlive double double-vertical " data-click="transform"  href="announcement_list.php">
					    <div class=" tile-content icon">
					        <i class="icon-info-2"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name"><h2 class="fg-white">討論區</h2></span>
					    </div>
					</a>		
					
					

					

					<!-- BEGIN Sales -->
					<a class="tile bg-magenta double " data-click="transform"  href="inquiry.php">
					    <div class=" tile-content icon">
					        <i class="icon-enter"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name">詢價</span>
					    </div>
					</a>
					
					<a class="tile bg-yellow double " data-click="transform"  href="quotation.php">
					    <div class=" tile-content icon">
					        <i class="icon-exit"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name">報價</span>
					    </div>
					</a>
					
					<a class="tile bg-lightOlive double " data-click="transform"  href="order.php">
					    <div class=" tile-content icon">
					        <i class="icon-sale"></i>
					    </div>
					    <div class="tile-status">
					        <span class="name">訂購</span>
					    </div>
					</a>					
					

										
					<!-- END Sales -->
										
                </div>
        
        

                
                
                
                
             